*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 100%;

}
.menus{
    display: flex;
    
    height: 100%;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.menus strong{
    margin-right: 5vw;
    font-size: 1.2em;
    color: #777777;
}
main{
    margin-left: 123px;
    margin-right: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formulario{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    margin-top: 5%;
    max-width: 100%;
    
}
.titulopartedonossotime{
    display: flex;
    border: 1px solid black;
    
    font-size: 2.5em;
    color: #575757;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nome{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 538px;
    max-width: 100%;
    font-size: 1.5em;
    color: #575757;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    margin-bottom: 2.5%;
}
.nome input{
    height: 26px;
    max-height: 100vh;
    margin-top: 7px;
}
.disponibilidade {
    display: flex;
    flex-direction: column;
    color: #575757;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.horarios{
    display: flex;
    font-size: 1em;
    flex-direction: row;
    justify-content: space-between;
}
.disponibilidade #label{
    font-size: 1.5em;
}
