*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 100%;

}
.menus{
    display: flex;
    
    height: 100%;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.menus strong{
    margin-right: 5vw;
    font-size: 1.2em;
    color: #777777;
}
main{
    margin-left: 123px;
    margin-right: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
