*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    max-width: 100%;

}
.menus{
    display: flex;
    
    height: 100%;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.menus strong{
    margin-right: 5vw;
    font-size: 1.2em;
    color: #777777;
}
.imagembanner{
    display: flex;
    width: 100%;
    max-width: 100%;
    
}
.imagembanner article{
    display: flex;
    width: 100%;
    justify-content: center;
}
.imagembanner img{
    width: 100%;
    max-width: 100%;
}
.imagensprodutos{
    display: flex;
    width: 100%;
    max-width: 100%;
    
    justify-content: center;
    flex-direction: column;
    

}

.encontreseuestilo{
    display: flex;
    width: 100%;
    max-width: 100%;
    
    font-size: 3em;
    justify-content: center;
    margin-top: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.modelos{
    display: flex;
    justify-content: center;
    margin-left: 54px;
    align-items: center;
    margin-top: 80px;
}


.produtosemoferta{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    
}
.containeroferta{
    display: flex;
    width: 100%;
    max-width: 100%;
    
    justify-content: center;
    flex-direction: column;
    background-color:#C2185B ;
    margin-top: 10%;
    height: 70vh;
    max-height: 100vh;
        
}

.shoes{
    display: flex;
    flex-direction: column;
    background-color: white;
    
    
}

.titulodoproduto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.shoes img{
    width: 100%;
    max-width: 100%;
}
.textoff{
    display: flex;
    width: 100%;
    max-width: 100%;
   
    font-size: 3em;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sapatobanner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.grupodeimagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 28px ;
    
    
    

}
.tituloimagem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.botaodetalhes{
    display: flex;
    background-color: #C2185B;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 403px;
    max-width: 100%;
    height: 100px; 
    margin-top: 20px;
}
.modelosapato{
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.rodape{
    display: flex;
    
    background-color: #C2185B;
    width: 100%;
    max-width: 100%;
    height: 40vh;
    margin-top: 10%;
}
.textosfooter{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}
.imagemetextofooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    max-width: 100%;
    flex-wrap: wrap;
    
    color: white;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 128px;
}
#itensfooter{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-width: 100%;
    
}
.textofooterdireita{
    display: flex;
    
    flex-direction: column;
    padding: 10px;
    margin-left: 136px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 1em;
    

}
.listadesapatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    
}

